body {
    background: rgb(31,67,73);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background: linear-gradient(to bottom right, aqua, pink);

    padding: 35px;
    border-radius: 10px;
     box-shadow: 0 0 70px rgba(0, 0, 0, 1.2); 
    
    width: 450px;
  }
  
  h2 {
    font-size: 37px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .form-group {
    padding: 10px;
    margin-bottom: 20px;
     
  }
   
  label {
    font-size: 17px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] 
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
 
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0400ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  